
.img-entete-ensavplus{
    background-image:url(./images/vrac/enSavoirPlus.jpg);
    background-position: top;
    width:100%;
    height:45vw; /*Si je mets une plus élevée que celle-là, alors barre de scroll horizontale*/
    background-size:cover;
    background-repeat: no-repeat;
    flex: none;
}

.ensavplus{
    position: absolute;
    top:45vw;
    left:2vw;
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 62px;
    color:white;
    padding:20px;
    border-radius:20px;

}

/* .sloggan2{
    width: 22vw;
    position: absolute;
    left: 77vw;
    top: 20vw;
    color:white;

    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;;
    line-height: 4vw;
} */

.sloggan2{
    font-family: 'Kufam', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 26px;
    text-transform: uppercase;
    text-align:center; 
    color:#763535;
    background-color:#CDC5B5;
    padding-top:10px;
    padding-bottom:10px;
}












/*PLACE AUX MEDIA QUERIES*/



@media(max-width:1024px) {    /*Je diminue toutes les tailles de polices*/
    .ensavplus{
        font-size:2rem;
        top:47vw;
    }

    .sloggan2{
        font-size:1rem;
    }

}

@media(max-width:880px){
    .ensavplus{
        font-size:1.8rem;
        top:48vw;
    }

    .sloggan2{
        font-size:0.8rem;
    }

}

@media(max-width:600px){
    .ensavplus{
        font-size:1.2rem;
        top:51vw;
    }

    .sloggan2{
        font-size:0.7rem;
      } 
}

@media(max-width:510px){
    .ensavplus{
        font-size:0.8rem;
        top:54vw;
    }
}



@media(max-width:440px){
    .ensavplus{
        font-size:0.6rem;
        top:57vw;
    }

}

@media(max-width:400px){
    .ensavplus{
        top:58vw;
    }
}

@media(max-width:350px){
    .ensavplus{
        top:60vw;
    }
}
