

/*JE MET EN PLACE MON SLIDER */

.photoslider {
    height: 48vw; /*On met la même valeur pour la heuteur du js-slider*/
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
    flex: none;
}

.photoslider.one {
    background-image: url(images/slider/slider1.jpg);
}

.photoslider.two {
    background-image: url(images/slider/slider2.jpg);
    background-position:center;
   
}

.photoslider.three {
    background-image: url(images/slider/slider3.jpg);

}

.js-slider {
    width: 100vw;
    height:48vw; /*Si cela dépasse alors barre de scroll horizontale qui apparait à partir d'une certaine largeur d'écran!!*/
    overflow: hidden;

}

.js-photos {
    display: flex;
    position: relative;
    left: -100vw;
    /*et on va bouger son left en JS pour le déplacer*/
    transition: left 0.6s ease-out;
}

/*FIN DE LA MISE EN PLACE DU SLIDER*/

.description {
    font-family: 'Kufam', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    position: absolute;
    width: 40vw;
    color: #fafbfc;
    backdrop-filter: blur(60px);
    left: 55vw;
    top: 20vw;
    padding:2vw;
    border-radius:5px;
}

.slogg{
    display:flex;
    position:relative;
    bottom:6vw;;
}

.sloggan{
    font-family: 'Kufam', sans-serif;
    font-size: 1.6rem;
    font-weight: bold; 
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase; /*Tout ce qui touche à la police*/

    margin:auto;
    color:white;

  
}



@media(max-width:1024px) {    /*Je diminue toutes les tailles de polices*/
    .description{
        font-size:0.8rem;
    }
    .sloggan{
        font-size:1.4rem;
    }
}

@media(max-width:880px){
    .description{
      font-size:0.8rem;
    }
    .sloggan{
        font-size:1rem;
    }
}

@media(max-width:600px){
    .description{
      font-size:0.6rem;
      width:50vw;
      left:44vw;
      top:26vw;
    }
    
    .sloggan{
     font-size:0.8rem;

       
    }

}

@media(max-width:510px){
    .description{
        top:32vw;
    }

    .slogg{
        bottom:10vw;
    }
}

@media(max-width:440px){
    .description{
        width:60vw;
        left:30vw;
        font-size:0.5rem;
        top:36vw;
    }

}
