/*Cette feuille de style s'applique à toutes les pages html de mon site de réservation*/



@font-face {
    font-family: 'Game of Thrones';
    src: url('fonts/got.woff2') format('woff2');
    font-weight: bold;

}

@font-face {
    font-family: 'Kufam';
    src: url('fonts/Kufam-VariableFont_wght.woff2') format('woff2');
    

}

body {
    background-color: #fafbfc;
    transition: 0.5s ease-in-out;
    margin:0;
    width:100vw;
    padding-top:120px; /*Je mets un padding-top égal à la hauteur de ma nav pour gérer le positionnement fixed de celle ci*/
    /* overflow-x:hidden;  Pour que l'on en voit pas la barre de scroll vertical qui apprait je ne sais pas pk */
}


/*Je mets donc en place mon menu visible sur toutes les pages du site*/

a {
    text-decoration: none;
    color: #010b12
}

nav {
    width: 100vw;
    height: 120px;
    background-color: #fafbfc;
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index:1000;
    top:0;/*Permet de bien mettre le contenu de ma nav dans le padding top du body */
    
}

.logo {
    width: 250px;
    position: absolute;
    left: -50px;
    top: -6px;
}


h1 {   /*titre du site*/
    font-family: 'Game of Thrones', sans-serif;
    font-size: 2rem;
    padding: 20px;
    padding-top: 30px;
    margin-left: 90px;

}

#accueil {
    width: 200px;
    display: block;
}

nav ul {  /*Menu*/
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40px;
    right: 50px;
    font-family: 'Game of Thrones', sans-serif;
    font-size: 0.8rem;
    gap:3rem;
    
}


.menu li {
    list-style-type: none;
}

.menu a {
    display: flex;
    padding-top: 25px;
}

.lien {
    transition: 0.5s ease-in-out;
}

ul .lien:hover {
    border: solid 1px #010b12;
    transition: 0.5s ease;
    padding: 10px;
}

li:nth-of-type(4){ /*Je mets mon burger invisible*/
    display:none;
    
}


/*Je mets en place mon footer qui luia ussi sera identique sur toutes mes pages*/

/* footer{
    width:100vw;
    height:180px;
    margin-top:50px;
    background-color:#CDC5B5;
    position: absolute;
} */



.mode {
    /* Je positionne mon bouton mode light/dark à droite et lui donne sa couleur initiale*/
    background-color: #010b12;
    color: #fafbfc;
    border-radius: 15px;
    border: none;
    transition: transform 1s ease-in-out;
}

.mode:hover {
    /*Pour changer la taille du bouton au survol */
    width: 60px;
    height: 50px;
    
}

/*Je mets les couleurs de certains éléments en fonction du mode dark ou light de la page */

/* Mise en place du dark mode */
body.dark-mode {
    background-color: #010b12;
    color: #fafbfc;
}

nav.dark-mode {
    background-color: #010b12;
}

a.dark-mode {
    color: #fafbfc;
}

ul .lien.dark-mode:hover {
    border: solid 1px #fafbfc;
    transition: 0.5s ease;
    padding: 10px;
}



button.dark-mode {
    background-color: #fafbfc;
    color: #010b12;
}


button.light-mode {
    background-color: #010b12;
    color: #fafbfc;
}

.fondViolet.dark-mode{
    background-color: rgba(117, 128, 167, 0.51);
    color:#fafbfc;

}























/*PLACE AUX MEDIA QUERIES*/



@media(max-width:1024px) {    /*Je diminue toutes les tailles de polices*/

    h1 {                          
        font-size: 1.4rem;
        padding-top: 48px;
    }

    nav ul li a {
        font-size: 0.6rem;

    }

    nav ul {
        top:45px;
    }


}

@media(max-width:880px){

    h1{
        font-size: 1rem;
        padding-top: 58px;
        padding-left: 0px;
        margin-left:75px;
        

    }


    nav ul li a {
        font-size: 0.5rem;

    }

    nav ul {
        top:43px;
        
    }

    .logo {
        width: 150px;
        left:-20px;
        top: 30px;
    }

    

}

@media(max-width:680px){
    nav ul{
        right:15px;
    }

    .logo{
        left:-40px;
    }

    h1{
      margin-left:60px;
    }
     
    nav li{
        display:none; 
    }

    li:nth-of-type(4){   /* Je fais apparaitre le menu burger*/
        display:flex;
        position:relative;
        
        
    }

    .menuBurger:hover{
        width:45px;
    }

    .moon{
        width:30px;
    }

    .mode:hover {
        /*Pour changer la taille du bouton au survol */
        width: 50px;
        height: 40px;
    }

}