main{
    margin-bottom:100px;
}

.ficheDest {
    width: 90vw;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.photos {
    display: flex;
    flex-direction: column;
}

.photoPrincipale {
    width: 45vw;
    ;
    height: 30vw;
    background-size: cover;
    background-position: center;
}

.petitesPhotos {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vw;
    z-index: 100;

}

.petite {
    width: 14vw;
    height: 8vw;
    background-size: cover;
    background-position: center;
}

.petite:hover {
    filter: brightness(1.1);
    cursor: pointer;
}


.texte {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.nomGOT {
    font-family: 'Game of Thrones', sans-serif;
    font-size: 2vw;
    margin: 0;
}

.vraiNom {
    font-size: 2vw;
    align-self: flex-end;
    margin-bottom: 15px;
}

.descrLong {
    margin: 0;
    font-size: 1.2vw;
}

.reservation {
    display: flex;
    justify-content: flex-end;
    margin-right: 6vw;
    gap: 100px;
    position: relative;
    top: -3vw;
}

.prixContainer {
    display: flex;
    align-items: center;
}

.prix {
    font-size: 1.6vw;
}

.regular {
    font-weight: 400;
}

.avion {
    width: 4vw;
    height: 4vw;
    transform: rotate(51.58deg);
}

.boutonReserve {
    font-family:'Kufam', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    background-color: #515667;
    padding-right: 15px;
    padding-left:15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border:none;

}

.boutonReserve:hover {
    background-color: #566fc9;
}

/*Je mets en place les liens pour les fiches des packs*/

.containerDestAssoc{
    display:flex;
    flex-direction:column;
}

.destAssoc{
    color:#835e14;
    margin:10px 10px 0px 0px;
    font-weight:600;
    transition: all 0.3 ease-in-out;
    font-size:1.2vw;
}

.destAssoc.dark-mode{
    color:#9490c4;
}

.destAssoc:hover{
    font-weight:800;
}






/*Je mets en place mon popup du formulaire*/

.popup-invisible {
    display: none;
}

.popup-visible {
    display: block;

}


.popup {
    z-index: 200;
    margin-top: 120px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    /*Je mets un padding left pour égaliser car le contour est inégal sans cela*/
    background-color: #fafbfc;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    background-size: cover;
    background-position: bottom;


}

.retourContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 50px;
}

.retourDest {
    color: #010b12;
    text-decoration: none;
    background-color: #fafbfc;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.retourDest:hover {
    background-color: #010b12;
    color: #fafbfc;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

form {
    
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(60px);
}

p {
    margin: 5px;
    ;
}

input {
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
    color: #fafbfc;
}

.champsObligatoires {
    margin-left: 250px;
    color: #fafbfc;
}

.total {
    font-size: 1.5rem;
    margin-top: 40px;
    color: #010b12;
}

.recap {
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: #010b12;
    font-weight: 700;
    text-transform: uppercase;
}

.reserve {
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: auto;

}

.reserve:hover {
    background-color: #010b12;
    color: #fafbfc;
}

.increment,
.decrement {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    margin: auto;
    background-color: #763535;
    color: white;
    cursor: pointer;
}

.footerPopup {
    bottom: 0;
    width: 100vw;
    position: absolute;
}


/*PLACE AUX MEDIAS QUERIES*/

@media(max-width:1024px) {
    .popup {
        margin-top: 80px;
    }
}

@media(max-width:870px) {
    .ficheDest {
        flex-wrap: wrap;
        justify-content: center;
    }

    .photoPrincipale {
        width: 85vw;
        height: 50vw;
    }

    .petitesPhotos {
        width: 85vw;
    }

    .petite {
        width: 27vw;
        height: 16vw;
    }

    /*Je gère mtn les textes dont j'augmente la police puisque je mets un flex-wrap*/

    .texte {
        width: 85vw;
        margin-left: 0;
        margin-top: 30px;
    }

    .nomGOT {
        font-size: 3vw;
        margin: 0;
    }

    .vraiNom {
        font-size: 3vw;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .descrLong {
        margin: 0;
        font-size: 2vw;
    }

    .destAssoc{
        font-size:2vw;
    }

    .reservation {
        margin-right: 6vw;
        margin-top: 20px;
        gap: 50px;
        position: relative;
        top: 0;
    }


    .prix {
        font-size: 2.5vw;
    }

    .avion {
        width: 6vw;
        height: 6vw;
    }

    .boutonReserve {
        font-size: 2.5vw;
    }
}



@media(max-width:600px) {
    .recap,.total{
        font-size:1rem;
    }

    .retourContainer{
        margin-right:30px;
        margin-top:30px;
    }

    .retourDest{
        font-size:0.8rem;
    }

    label, input{
        font-size:0.8rem;
    }

    .champsObligatoires{
        font-size:0.8rem;
        margin-left:100px;
    }

    .increment,.decrement{
        font-size:0.8rem;
        width:20px;
        height:20px;
 
    }
    /*A partir d'une certaine largeur, j'évite les polices en vw car la taille devient trop ridicule avec la largeur d'écran*/
    .reservation {
        margin-top: 0;
    }

    .descrLong {
        font-size: 0.7rem;
    }

    .destAssoc{
        font-size:0.7rem;
    }

    .nomGOT {
        font-size: 1.2rem;
    }

    .vraiNom {
        font-size: 1.1rem;
    }

    .reservation {
        gap: 30px;
    }

    .prix {
        font-size: 1rem;
    }

    .avion {
        width: 25px;
        height: 25px;
    }

    .boutonReserve {
        font-size: 1rem;
    }


}