.retourContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top:130px;
    z-index:1000;
    position:relative;
    top:20px;

}

.retourDest:hover {
    background-color: #010b12;
    color: #fafbfc;
}

.formContainer {
    margin-top:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    background-size: cover;
    background-position: bottom;
    height: fit-content;
    padding:100px 20px;
}

/* .maResa{
    font-size: 3rem;
    color: white;
    position: absolute;
    margin:0;
    top:-50px;
    left:0;
} */

form { 
    position: relative;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: #fafbfc79;
    
}
.qte{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom:10px;
}

input, label, .recap{
max-width: 400px;
}

p {
    margin: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}

input {
    font-size: 1rem;
    border:none;
}

#nombre-billets{
    font-size: 5rem;
    font-weight:600;
    background-color: #76353500;
    text-align: center;
    color:white;
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #763535;
    margin-bottom:-10px;
}

.champsObligatoires {
    margin-left: 250px;
    color: #fafbfc;
}

.total {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #010b12;
}

.recap {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: #010b12;
}


.reserve:hover {
    background-color: #010b12;
    color: #fafbfc;
}

.increment,
.decrement {
    width: 30px;
    height: 30px;
    font-size: 2.5rem;
    border-radius: 20px;
    border: none;
    /* margin: auto; */
    background-color: #76353500;
    color: white;
    cursor: pointer;
    margin-bottom:20px;
}

.lienRetour{
    position:absolute;
    top:-40px;
    left:10px;
}

footer{
    margin-top:0 !important;
}



/*PLACE AUX MEDIA QUERIES*/



@media(max-width:1024px){

    .formContainer{
        margin-top:50px;
    }

}

@media(max-width:700px){

    form{
        padding:20px 50px;
    }

    label{
        font-size: 1rem;
        margin-bottom:-5px;
    }

}





