.img-entete-ensavplus{
    background-image:url(./images/enTetes/enSavoirPlus.jpg);
    background-position: left;
    height:100vh; /*Si je mets une plus élevée que celle-là, alors barre de scroll horizontale*/
    width:100vw;
    background-size:cover;
    background-repeat: no-repeat;
    flex: none;
    filter:brightness(0.75);
}

.ensavplus{
    position: absolute;
    left:30px;
    bottom:30px;
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 62px;
    color:white;
    text-transform: uppercase;

}

.sloggan2{
    font-family: 'Kufam', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 26px;
    text-transform: uppercase;
    text-align:center; 
    color:#763535;
    background-color:#CDC5B5;
    padding-top:10px;
    padding-bottom:10px;
}


.sousTitreContainer{
    display:flex;
    justify-content: flex-end;
    margin-right:30px;
}

.sousTitre{
    color:#763535;
    font-size:2rem;
    margin-bottom:0;
    margin-right:10px;
}

.section{
    background-color: #CDC5B5;
    margin-bottom:40px;
    margin-left:40px;
    margin-right:40px;
    padding:60px;
}

.bold{
    font-weight:bold;
}

.descr{
    margin-bottom:40px;
    max-width:1000px;
}

.etape{
    display:flex;
    align-items: flex-start; /*??*/
    gap:20px;
    max-width:500px;
    margin-bottom:30px;
    
}

.number{
    font-size:3rem;
    color:#763535;
    margin-top:0;
    margin-bottom:0;
    line-height: 1;
}

.explication{
    margin-top:0;
}

.creatrice{
    display:flex;
    align-items: center;
    gap:50px;
}

.img{
    width:300px;
    height:400px;
    background-image:url(./images/PhotoSabine.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.txt{
    max-width:800px;
}

.encre{
    height:20px;
    width:20px;
}

.descr, .etape, .txt, .mentionsLegales{
    letter-spacing: 0.3px;
}












/*PLACE AUX MEDIA QUERIES*/

@media(max-width:1300px){
    .txt{
        max-width:700px;
    }
}

@media(max-width:1150px){
    .txt{
        max-width:600px;
    }
}

@media(max-width:1024px) {    /*Je diminue toutes les tailles de polices*/

    .sloggan2{
        font-size:1rem;
    }

    .descr, .etape, .txt, .mentionsLegales{
        font-size:0.8rem;
    }

    .txt{
        max-width:480px;
    }

}

@media(max-width:820px){

    .descr, .etape, .txt, .mentionsLegales{
        font-size:0.8rem;
    }

    .img{
        width:250px;
    }

    .txt{
        max-width:350px;
    }

    .section{
        padding:30px;
    }

    .number{
        font-size:2rem;
    }

    .etape{
        max-width:400px;
    }

}

@media(max-width:680px){


    .creatrice{
        gap:20px;
    }

    .txt{
        max-width:300px;
    }

    .etape{
        max-width:250px;
    }

    .sousTitre{
        font-size:1.5rem;
    }

}



@media(max-width:600px){

    .sloggan2{
        font-size:0.7rem;
      } 

    .creatrice{
        flex-wrap:wrap;
    }

    .img{
        width:100%;
    }

    .txt{
        max-width:500px;
    }

    .section{
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
    }
}




@media(max-width:420px){


    .ensavplus{
        font-size: 2rem;
    
    }
}